.content {
    padding: 10px;
}

.content h1 {
    font-size: 24px;
    margin: 0 0 5px 0;
}

.content h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.content p {
    font-size: 14px;
    margin: 0 0 15px 0;
}

.content h1 span {
    font-size: 14px;
    margin-left: 10px;
}

.content table {
    width: 100%;
    border-spacing: 0;
    border-top: 1px solid #ccc;
}

.content table th {
    font-size: 14px;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.content table td {
    font-size: 14px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.content table th.narrow,
.content table td.narrow {
    width: 1%;
    white-space: nowrap;
}

.content table th.align-right,
.content table td.align-right {
    text-align: right;
}

.content table th.align-center,
.content table td.align-center {
    text-align: center;
}

.content table.changePercent {
    border-top: none;
    width: auto;
    border-top: 1px solid #ccc;
}

.content table.changePercent th {
    text-align: center;
}
